@font-face {
  font-family: 'EuroStyle Normal';
  src: url('./fonts/EuroStyle Normal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  background-color: #a1b3a8;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 33rem;
  width: 20em;
  box-sizing: border-box;
  padding: 0.5em;
  background-color: #767b78;
  box-shadow: 10px 10px 5px 5px #5f5f5f;
  border-top: 0.1em solid #5f5f5f;
  border-right: 0.3em solid #5f5f5f;
  border-bottom: 0.3em solid #5f5f5f;
  border-left: 0.1em solid #5f5f5f;
  border-radius: 2em;
}

.title {
  text-align: center;
  font-family: 'EuroStyle Normal', Times, serif;
  color: #79046b;
  font-size: 2em;
  font-weight: 900;
  line-height: 2em;
  letter-spacing: 0.05em;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5em;
  margin: auto;
}

.buttons div {
  aspect-ratio: 1; 
  width: 100%; 
  height: 3rem;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  border: 1px solid black;
  border-radius: 0.2em;
  background-color: #cacacc;
  border-top: 0.1em solid #98989a;
  border-right: 0.3em solid #98989a;
  border-bottom: 0.3em solid #98989a;
  border-left: 0.1em solid #98989a;
  color: #000;
  box-sizing: border-box;
  font-weight: bolder;
  cursor: pointer;
}

div.twoSpace {
  grid-column: span 2;
  width: 7.5em;
  background-color: #bf0000;
  border-top: 0.1em solid darkred;
  border-right: 0.3em solid darkred;
  border-bottom: 0.3em solid darkred;
  border-left: 0.1em solid darkred;
  color: #cccccc;
}

.buttons div:active {
  transform: scale(0.98);
}

.buttons div.opBtn {
  background-color: rgb(44, 51, 235);
  border-top: 0.1em solid rgb(10, 4, 93);
  border-right: 0.3em solid rgb(10, 4, 93);
  border-bottom: 0.3em solid rgb(10, 4, 93);
  border-left: 0.1em solid rgb(10, 4, 93);
}

#equals {
  background-color: green;
  border-top: 0.1em solid rgb(4, 93, 4);
  border-right: 0.3em solid rgb(4, 93, 4);
  border-bottom: 0.3em solid rgb(4, 93, 4);
  border-left: 0.1em solid rgb(4, 93, 4);
}

.output-screen {
  display: flex;
  width: 16.5rem;
  height: 2em;
  font-size: 2rem;
  background-color: #585858;
  align-self: center;
  box-sizing: border-box;
  font-weight: bolder;
  border-radius: 0.5em;
  color: #ffffff;
  justify-content: right;
  align-items: center;
  padding-right: 0.5em;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  padding: 1em;
}
