html, body {
  margin: 0;
  padding: 0;
  background-color:#DFDFDF
}

.main-container {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 20em;
  width: 20em;
  border: #000 1px solid;
  border-radius: 2.4em;
}

.title {
  text-align: center;
  padding-top: .5em;
}
